html{
color:pink;
background-image: url("background.png");
text-align:justify;
}

#header{
background-image: url("background_entete.png");
height:150px;
border: 2px Fuchsia solid;
}

#nyan{
animation: nyancat 6s linear infinite ;
-webkit-animation: nyancat 6s linear infinite ;
position:absolute;
height:100px;
top:25px;
-webkit-left:-20px;
-moz-left:-20px;
-o-left:-20px;
left:326px;
z-index:2;
}

#arc{
animation: arcenciel 6s linear infinite ;
-webkit-animation: arcenciel 6s linear infinite ;
position:absolute;
height:85px;
top:38px;
left:0px;
z-index:1;
}

@keyframes nyancat{
0% {top:30px;left:-20px;}
10% {top:25px;left:10%;}
20% {top:30px;left:20%;}
30% {top:35px;left:30%;}
40% {top:30px;left:40%;}
50% {top:25px;left:50%;}
60% {top:30px;left:60%;}
70% {top:35px;left:70%;}
80% {top:30px;left:80%;}
90% {top:25px;left:90%;}
100% {top:30px;left:100%;}
}

@-webkit-keyframes nyancat{
0% {top:30px;left:-20px;}
10% {top:25px;left:10%;}
20% {top:30px;left:20%;}
30% {top:35px;left:30%;}
40% {top:30px;left:40%;}
50% {top:25px;left:50%;}
60% {top:30px;left:60%;}
70% {top:35px;left:70%;}
80% {top:30px;left:80%;}
90% {top:25px;left:90%;}
100% {top:30px;left:100%;}
}

@keyframes arcenciel{
0% {top:38px;width:2.5%;}
10% {top:33px;width:12.5%;}
20% {top:38px;width:22.5%;}
30% {top:43px;width:32.5%;}
40% {top:38px;width:42.5%;}
50% {top:33px;width:52.5%;}
60% {top:38px;width:62.5%;}
70% {top:43px;width:72.5%;}
80% {top:38px;width:82.5%;}
90% {top:33px;width:92.5%;}
100% {top:38px;width:102.5%;}
}

@-webkit-keyframes arcenciel{
0% {top:38px;width:2.5%;}
10% {top:33px;width:12.5%;}
20% {top:38px;width:22.5%;}
30% {top:43px;width:32.5%;}
40% {top:38px;width:42.5%;}
50% {top:33px;width:52.5%;}
60% {top:38px;width:62.5%;}
70% {top:43px;width:72.5%;}
80% {top:38px;width:82.5%;}
90% {top:33px;width:92.5%;}
100% {top:38px;width:102.5%;}
}

a{
color:Fuchsia;
}

a:visited{
color:Fuchsia;
}

#titre{
background-color: #003366;
width:20%;
position:relative;
z-index:3;
top:23%;
margin: auto;
border: 3px pink double;
}

#titre h1{
font-size:4em;
text-align:center;
margin:auto;
}

#nav{
background-color: #003366;
position: fixed;
float:left;
border: 1px Fuchsia solid;
width:15%;
padding:1%;
}

#nav ol{
list-style-type:upper-roman;
}

#section{
width:60%;
border: 2px Fuchsia solid;
margin:auto;
padding:2%;
background-image: url("background_entete.png");
}

.article{
background-color: #003366;
border: 1px Fuchsia solid;
padding:1%;
}

h2{
text-align:center;
color:Fuchsia;
text-decoration:underline;
}




